<div class="post col-xl-6">
  <div class="post-thumbnail">
    <a href="<%- url_for(post.path) %>">
        <% if (post.imagem){ %>
      <img src="<%= post.imagem %>" alt="<%= post.alt %>" class="img-fluid">

      <% } %>
    </a>
  </div>
  <div class="post-details">
    <div class="post-meta d-flex justify-content-between">
      <div class="date meta-last"><%= date(post.date) %></div>
      <!-- <div class="category">
        <a href="#">Business</a>
      </div> -->
    </div>
    <a href="<%- url_for(post.path) %>">
      <h3 class="h4"><%= post.title %></h3>
    </a>
    <p class="text-muted"><%- truncate(post.resumo, {length: 150}) %></p>
    <!-- <footer class="post-footer d-flex align-items-center">
      <a href="#" class="author d-flex align-items-center flex-wrap">
        <div class="avatar">
            <img src="<%= post.imagem %>" alt="<%= post.alt %>" class="img-fluid">
        </div>
        <div class="title">
          <span>John Doe</span>
        </div>
      </a>
      <div class="date">
        <i class="icon-clock"></i> 2 months ago</div>
      <div class="comments meta-last">
        <i class="icon-comment"></i>12</div>
    </footer> -->
  </div>
</div>