<!DOCTYPE html>
<html>
  <%- partial('basico/head') %>
  <body>
    <%- partial('basico/header') %>
    <div class="container">
      <div class="row">
        <%- body %>
      </div>
    </div>
    <!-- Page Footer-->
    
    <%- partial('basico/footer') %>
    <%- partial('basico/include-js') %>
  </body>
</html>